body {
  background-color: #e9c338; /* жёлтый фон */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}


.card {
  background: #fff;
  width: 320px;
  border-radius: 16px;
  box-shadow: 8px 8px 8px #000000;
  overflow: hidden;
  height: auto;
  
}

h2:hover {
  color: gold;
}

.card-image img {
  width:100%;
 border-radius:15px;
  object-fit: hidden ;
}



.tag {
  background-color: #f4ce46;
  color: #000;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: #777;
  margin-top: 6px;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #111;
}

.description {
  font-size: 14px;
  color: #555;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.author img {
  
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.author span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.card{
  padding: 7;

}